In [3]:
import pandas as pd
# corona_df = pd.read_csv('dataset.csv')

In [4]:
import os

In [9]:
os.listdir('./datasets')

['covid-19-dataset-1.csv',
 'covid-19-dataset-1.zip',
 'covid-19-dataset-2.csv',
 'covid-19-dataset-2.zip',
 'covid-19-dataset-3.csv',
 'covid-19-dataset-3.zip']

In [35]:
corona_df = pd.read_csv('./datasets/covid-19-dataset-3.csv')

In [36]:
corona_df

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-07-20 19:35:29,32.318200,-86.902300,68891,1291,29736.0,37864.0,1.0,1405.025509,585533.0,7782.0,1.873975,84000001.0,USA,11941.890832,11.296105
1,Alaska,US,2020-07-20 19:35:29,61.370700,-152.404400,1950,18,712.0,1220.0,2.0,266.559132,173010.0,NaN,0.923077,84000002.0,USA,23649.946346,NaN
2,American Samoa,US,2020-07-20 19:35:29,-14.271000,-170.132000,0,0,NaN,0.0,60.0,0.000000,1037.0,NaN,NaN,16.0,ASM,1863.733578,NaN
3,Arizona,US,2020-07-20 19:35:29,33.729800,-111.431200,145183,2784,18149.0,124250.0,4.0,1994.623503,785979.0,6632.0,1.917580,84000004.0,USA,10798.317890,4.568028
4,Arkansas,US,2020-07-20 19:35:29,34.969700,-92.373100,33228,357,25292.0,7579.0,5.0,1101.065543,419171.0,2177.0,1.074395,84000005.0,USA,13889.934535,6.551703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Zuid-Holland,Netherlands,2020-07-20 19:35:29,51.937835,4.462114,11886,1305,NaN,10581.0,NaN,320.490005,NaN,NaN,10.979303,52812.0,NLD,NaN,NaN
570,Unknown,India,2020-07-20 19:35:29,NaN,NaN,163,0,NaN,163.0,NaN,NaN,NaN,NaN,0.000000,35636.0,IND,NaN,NaN
571,Unknown,Colombia,2020-07-20 19:35:29,NaN,NaN,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,17034.0,COL,NaN,NaN
572,Diamond Princess,Canada,2020-07-20 19:35:29,NaN,NaN,0,1,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,12413.0,CAN,NaN,NaN
573,Grand Princess,Canada,2020-07-20 19:35:29,NaN,NaN,13,0,13.0,0.0,NaN,NaN,NaN,NaN,0.000000,12414.0,CAN,NaN,NaN

In [15]:
by_country = corona_df.groupby('Country_Region').sum()[['Confirmed', 'Deaths', 'Recovered', 'Active']]

In [16]:
by_country

                    Confirmed  Deaths  Recovered  Active
Country_Region
Afghanistan               281       6         10     265
Albania                   304      17         89     198
Algeria                  1171     105         62    1004
Andorra                   439      16         16     407
Angola                      8       2          1       5
...                       ...     ...        ...     ...
Venezuela                 153       7         52      94
Vietnam                   237       0         85     152
West Bank and Gaza        194       1         21     172
Zambia                     39       1          2      36
Zimbabwe                    9       1          0       8

[181 rows x 4 columns]

In [20]:
cdf = by_country.nlargest(15, 'Confirmed')[['Confirmed']]

In [21]:
cdf

                Confirmed
Country_Region
US                 275586
Italy              119827
Spain              119199
Germany             91159
China               82511
France              65202
Iran                53183
United Kingdom      38689
Turkey              20921
Switzerland         19606
Belgium             16770
Netherlands         15821
Canada              12437
Austria             11524
Korea, South        10062

In [22]:
def find_top_confirmed(n = 15):
    import pandas as pd
    corona_df = pd.read_csv('./datasets/covid-19-dataset-1.csv')
    by_country = corona_df.groupby('Country_Region').sum()[['Confirmed', 'Deaths', 'Recovered', 'Active']]
    cdf = by_country.nlargest(n, 'Confirmed')[['Confirmed']]
    return cdf

In [24]:
find_top_confirmed()

                Confirmed
Country_Region
US                 275586
Italy              119827
Spain              119199
Germany             91159
China               82511
France              65202
Iran                53183
United Kingdom      38689
Turkey              20921
Switzerland         19606
Belgium             16770
Netherlands         15821
Canada              12437
Austria             11524
Korea, South        10062

In [25]:
import folium
import pandas as pd
# corona_df = pd.read_csv('dataset.csv')
corona_df = pd.read_csv('./datasets/covid-19-dataset-1.csv')

corona_df=corona_df.dropna()

m=folium.Map(location=[34.223334,-82.461707],
            tiles='Stamen toner',
            zoom_start=8)

def circle_maker(x):
    folium.Circle(location=[x[0],x[1]],
                 radius=float(x[2])*10,
                 color="red",
                 popup='{}\n confirmed cases:{}'.format(x[3],x[2])).add_to(m)
corona_df[['Lat','Long_','Confirmed','Combined_Key']].apply(lambda x:circle_maker(x),axis=1)

html_map=m._repr_html_()

In [26]:
from flask import Flask,render_template

app=Flask(__name__)

@app.route('/')
def home():
    return render_template("home.html",table=cdf, cmap=html_map,pairs=pairs)

if __name__=="__main__":
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with windowsapi reloader

SystemExit: 1

C:\Users\akraj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3351: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [27]:
pairs=[(country,confirmed) for country,confirmed in zip(cdf.index,cdf['Confirmed'])]

In [28]:
pairs

[('US', 275586),
 ('Italy', 119827),
 ('Spain', 119199),
 ('Germany', 91159),
 ('China', 82511),
 ('France', 65202),
 ('Iran', 53183),
 ('United Kingdom', 38689),
 ('Turkey', 20921),
 ('Switzerland', 19606),
 ('Belgium', 16770),
 ('Netherlands', 15821),
 ('Canada', 12437),
 ('Austria', 11524),
 ('Korea, South', 10062)]

In [30]:
# cdf.index

Index(['US', 'Italy', 'Spain', 'Germany', 'China', 'France', 'Iran',
       'United Kingdom', 'Turkey', 'Switzerland', 'Belgium', 'Netherlands',
       'Canada', 'Austria', 'Korea, South'],
      dtype='object', name='Country_Region')